.project.project-fearless
	.inside
		h3 Fearless Records
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odit est pariatur porro neque doloremque delectus, optio vero, officia et! Consectetur vitae nostrum aliquid laboriosam suscipit dignissimos ea earum atque!

		.comp-view
			img(src="img/westbury.png")