.project.project-fearless
	.inside
		h3 Fearless Records
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odit est pariatur porro neque doloremque delectus, optio vero, officia et! Consectetur vitae nostrum aliquid laboriosam suscipit dignissimos ea earum atque!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odit est pariatur porro neque doloremque delectus, optio vero, officia et! Consectetur vitae nostrum

		a.go-link(href="http://www.fearlessrecords.com") Visit site
		
		.comp-view
			img(src="img/fearless.png")