.feature
	.container
		.leftside
		.rightside
			h2 BandJob
			p BandJob was a community for artists and designers in the music industry to share their work with one another. With thousands of users posting thousands of projects and jobs, contests featuring bands like KISS, and an active forum, it was a very lively community.
			p I built and designed everything on the site including a custom forum, job board, and contest system. From front-end to back-end, I handled it all.
			
			a.go-link(href="http://www.bandjob.com/archive") Visit site