.project.project-fearless
	.inside
		h3 Fearless Records
		p Formed in 1994, Fearless Records was built on a punk-rock foundation, fueled by a furious passion for music and the drive to help build the careers of up-and-coming artists. The label carved out its corner by launching the careers of acts like The Plain White T's, At The Drive-In, and The Aquabats.

		p Using a custom CMS, the site fans keeps updated with everything that they'd ever want to know about their favorite bands.

		a.go-link

		//- a.go-link(href="http://www.fearlessrecords.com") Visit site
		
		.comp-view
			img(src="img/fearless.png")