.footer
	.container
		h2 Work With Me
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic harum, quis perspiciatis cumque nobis praesentium, alias voluptatum, saepe quo, accusantium reprehenderit corporis libero nam? Sit expedita, atque fugiat recusandae repellendus.