.footer
	.container
		.left-side
			h2 Get In Touch
			p  Thanks for making it this far down the site. Hopefully you enjoyed your stay. If you think that I'd be a good fit for your team – or if you just want to talk about basketball or something – send me and email at <a href="mailto:joey.gordon@gmail.com">joey.gordon@gmail.com</a>
		.right-side
			h2 &nbsp;
			ul.contact-list
				li <a href="mailto:joey.gordon@gmail.com">joey.gordon@gmail.com</a>
				li Portland, Oregon
				li 954.854.5184