.project.project-goodshep
	.container
		.left-side
		.right-side
			h3 Good Shepherd
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla beatae laboriosam facere quam eveniet odio facilis ipsam! Laborum autem, illo magni deleniti qui. Quasi id libero sapiente veritatis, fugit quibusdam.
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla beatae laboriosam facere quam eveniet odio facilis ipsam! Laborum autem, illo magni deleniti qui. Quasi id libero sapiente veritatis, fugit quibusdam.