header
	.container
		.headholder
		p.info
			span Hi, my name is Joey Gordon. I like to build things for <strong>iOS</strong> and the <strong>web</strong>. I wear a lot of black, eat a lot of <strong>cookies</strong>, and enjoy Starbucks more than I probably should.*

		p.shadow
			span Hi, my name is Joey Gordon. I like to build things for <strong>iOS</strong> and the <strong>web</strong>. I wear a lot of black, eat a lot of <strong>cookies</strong>, and enjoy Starbucks more than I probably should.*

		p.chill 
			span * The cookies at Starbucks are terrible

		a.cta.js-contact(href="")
			.flexcontain <span>Contact Me</span><span class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></span>


