.project.project-rockem#js-rockem
	.container
		.left-side
		.right-side
			h2 Rock 'Em
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla beatae laboriosam facere quam eveniet odio facilis ipsam! Laborum autem, illo magni deleniti qui. Quasi id libero sapiente veritatis, fugit quibusdam.
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla beatae laboriosam facere quam eveniet odio facilis ipsam! Laborum autem, illo magni deleniti qui. Quasi id libero sapiente veritatis, fugit quibusdam.

			a.go-link(href="http://www.rockemapparel.com/custemizer-products/") Visit site