.project.project-rockem#js-rockem
	.container
		.left-side
		.right-side
			h2 Rock 'Em
			p  Rock 'Em Appearel has taken athletic gear to a whole new level. Creating custom socks and apparel geared towards sporting and sneaker culture. 
			p  A full online presence had to be built for them from the ground up to handle their broad customer base. This includes everything from a place to handle wholesale team accounts to a completely responsive product customizer.

			a.go-link(href="http://www.rockemapparel.com/custemizer-products/") Visit site