.skills
	.container
		.bio-pic
		
		h2 I Need A Better Heading Here

		p I'm a 33 year old developer/designer living in Portland, Oregon. I have 15 years of experience building all sorts of internet things. I think the cool kids refer to it as a full-stack developer. For the last 8 years, I've co-founded and helped grow <a href="http://www.theblackaxe.com">The Black Axe</a> with some super rad dudes. Now I'm moving on to learn as many new skills as I can and meet more super rad people.
		
		ul.links
			li <a href="https://dribbble.com/joeydoom"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			li <a href="https://twitter.com/JoeyDoom"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			li <a href="https://github.com/JoeyDoom"><i class="fa fa-github" aria-hidden="true"></i></a>
			li <a href="https://www.instagram.com/joeyaxe/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			li <a href="https://www.linkedin.com/in/joseph-gordon-01628b124"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

	.skills-container#js-skills
		.container
			h3.skillset I know how to do some stuff. It will be listed here:

			ul.skill-list
				li Swift
				li HTML5
				li CSS3
				li Sass
				li JavaScript
				li Responsive Design
				li PHP
				li MySQL
				li Firebase
				li <strike>Parse</strike> RIP
				li Gulp
				li React
				li Ember
				li Wordpress
				li Shopify
				li Drupal
				li jQuery
				li Rails
				li Sketch
				li Photoshop
				li Illustrator