.skills 
	.container
		.bio-pic

		h2 I Need A Better Heading Here

		p I'm a 33 year old <a href="#" class="pro-tip">developer/designer</a> living in Portland, Oregon. I have 15 years of experience building all sorts of internet things. 8 years ago, I cofounded <a href="http://www.theblackaxe.com">The Black Axe</a> with some super rad dudes. Now I'm moving on to learn as many new skills as I can and meet more super rad people.

		.dev-tooltip.tooltip I really enjoy the development part much more than the designing.

		.skillset I know how to do some stuff. It will be listed here