.skills
	.container
		.bio-pic
		
		h2 The Story So Far

		p I'm a 34 year-old developer living in Portland, Oregon. I have more than 15 years of experience building all sorts of internet things. I specialize in both iOS and Front-End Web Development. I have experience in both product and client work with clients such as Crayola, VICE, Warner Music Group, Live Nation, and Honda.
		
		ul.links
			//- li <a href="https://dribbble.com/joeydoom"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			li <a href="https://twitter.com/JoeyDoom"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			li <a href="https://github.com/JoeyDoom"><i class="fa fa-github" aria-hidden="true"></i></a>
			li <a href="https://www.instagram.com/joeyaxe/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			li <a href="https://www.linkedin.com/in/joseph-gordon-01628b124"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

	.skills-container#js-skills
		.container
			h3.skillset Skills &amp; Interests

			ul.skill-list
				li Swift
				li HTML5
				li CSS3
				li Sass
				li JavaScript
				li Responsive Design
				li Firebase
				li Vue
				li Gulp
				li React
				li Ember
				li PHP
				li MySQL
				li Wordpress
				li Shopify
				li Drupal
				li jQuery
				li Rails
				li Sketch
				li Photoshop
				li Illustrator