.project.project-westbury
	.inside
		h3 Westbury Friends School
		p Westbury Friends School needed a website that made it easy for parents of prospective students to learn about their programs, schedule a visit, and apply, all while keeping parents of current students informed and engaged.

		//- p We started by learning everything we could about Westbury Friends School and their competition, and then we talked to parents, both of Westbury Friends School students and of other school-aged children, to learn about their needs and challenges. Armed with a thorough understanding of the problem and inspired by the core values of Westbury Friends School—simplicity, peace, integrity, and community—we got to work.

		p The result was a beautiful website utilizing on-site photography, with easy-to-access information and events, and a simple application process (including taking application fees).
		a.go-link(href="http://www.westburyfriends.org") Visit site
		
		.comp-view
			img(src="img/westbury.png")