.project.project-westbury
	.inside
		h3 Westbury Friends School
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odit est pariatur porro neque doloremque delectus, optio vero, officia et! Consectetur vitae nostrum aliquid laboriosam suscipit dignissimos ea earum atque!
		
		a.go-link(href="#") Visit site
		
		.comp-view
			img(src="img/westbury.png")