.feature
	background: $color-primary

	h2
		color: white

	.container
		width: 95%
		display: flex

	.leftside
		width: 58%
		margin-right: 2%
		background:
			image: url(../img/rockem.png)
			repeat: no-repeat
			size: 100% auto
			position: center bottom

	.rightside
		width: 38%
		margin-right: 3%
		color: white
		padding: 5rem 0 5rem 