.skills
	padding:
		top: 5em
		bottom: 5em


.bio-pic
	background-color: #ddd
	background-image: url(../img/donut.jpg)
	background-size: cover
	border-radius: $br--round
	height: 12.5rem
	width: 12.5rem
	float: left
	margin-right: 2em

	@include mq(small)
		float: none
		margin: 0 auto


.skill-list 
	margin: 0 0 2em 0
	padding: 0

	li
		display: inline-block
		width: 32%