// ==========================================================================
// Variables
// ==========================================================================

// Font Stacks

// $font-url--google        : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'
$font-family--primary    : 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif

// Font Weights

$font-weight--thin       : 100
$font-weight--light      : 300
$font-weight--medium     : 400
$font-weight--bold       : 700
$font-weight--ultra-bold : 900

// Descriptive Base Colors

$white    : #fff
$orangered  : orangered
$grey     : #797e83
$gold			: #D3B555


// Color Usage

$color-primary   : $orangered
$color-shadow    : rgba(black, .2)

// Text

$base__font-size : 16px
$base__line      : 24px
$letter-space    : 1px

// Border radius

$br--default    : .4em
$br--round      : 50%

// Transitions

$trns-duration  : .3s

// Path to Assets

$path           : "../img"

// Media Query Breakpoints

$breakpoint-sm  : 1px
$breakpoint-ms	: 551px
$breakpoint-md  : 768px
$breakpoint-lg  : 1100px